@font-face {
	font-family: 'open_sansregular';
	src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
		 url('./fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'open_sansregular', 'Helvetica', sans-serif;
	line-height: 1.5;
}

h1 {
	color: #373D3F;
	text-align: center;
}

a {
	color: #373D3F;
	text-decoration: none;
}

a:hover {
	color: tomato;
}

ul {
	list-style: circle;
	padding-right: 10px;
	padding-left: 30px;
}

li {
	margin: 0 0 8px 0;
}

.go_back a {
	font-weight: bold;
}

.disclaimer {
	font-size: 12px;
	background-color: #F5F5F5;
	padding-left: 10px;
	padding-right: 10px;
}

.disclaimer a {
	text-decoration: underline;
}

.error_para {
	font-weight: bold;
	text-align: center;
}

.summary {
	padding-left: 10px;
	padding-right: 10px;
	overflow-wrap: break-word;
}

.languages, .news-categories {
	text-align: center;
	font-size: 14px;
}

.lang_type, .news_type {
	font-weight: bold;
	text-decoration: underline;
}

#date {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#search {
	border-radius: 25px;
	border: 2px solid #000000;
	width: 250px;
	height: 10px;
	padding: 8px;
}

.search-div {
	text-align: center;
}

.search-button {
	border-style: none;
	background-color: black;
	color: white;
	padding: 6px;
}

.search-button:hover {
	cursor: pointer;
}

.search-label {
	font-size: 14px;
}

.headline_title {
	border-bottom: 3px solid;
	padding-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
}